table
{
border:solid thin ; 
width:1200;
height:475;
}
div
{
float:left;
width:820px;
margin:0 0 15px 20px;
padding:15px;
text-align:center;
}
h1
{
font-size:60px;
}
h2
{
font-size:40px;
text-align:center;
}
td
{
font-weight:bold;

}
tr{
text-align:center;
}
p
{
font-size:20px;
color:silver;
}
h3
{
color:silver;
font-weight:normal;
}